.minefield {
    line-height:0;
    border-spacing:0;
}

.minefield td {
    padding:0
}

#wrapper {
    border: solid black 1px;
    padding: 15px;
    box-shadow: 10px 10px 5px #888888;
    min-height: 800px;
}

#menu {
    padding: 100px;
}

#menu .btn {
    width: 150px;
    margin: 10px;
}

#game {
    text-align: center;
}

#game table {
    display: inline-table;
}